.container {
  max-width: 700px;
  margin: 1rem auto;
}

.img {
  width: 100%;
  object-fit: cover;
  border-radius: 1rem;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
}

.name {
  font-size: 1.4rem;

  font-weight: 900;
  margin: 1rem 0;
}

.details {
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.1);
  padding: 1rem;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  font-weight: 600;
  gap: 1rem;
}

.detail {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.detail p:first-child {
  color: rgba(0, 0, 0, 0.6);
  display: flex;
  /* align-items: center; */
  gap: 0.3rem;
}

.desc {
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.1);
  padding: 1rem;
  border-radius: 1rem;
  margin: 1rem 0;
}

.desc p {
  text-align: justify;
  margin-top: 0.5rem;
}

.price {
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.1);
  padding: 1rem;
  border-radius: 1rem;
  display: flex;
  margin: 1rem 0;
  align-items: center;
  justify-content: space-between;
  font-weight: bold;
}

.price p:first-child {
  display: flex;
  align-items: center;
  color: rgba(0, 0, 0, 0.6);
}
.priceIcon {
  font-size: 1.5rem;
}

.btns {
  display: flex;
  justify-content: space-between;
}

.btns > * {
  padding: 1rem 3rem;
  border-radius: 5px;
  border: none;
  background: transparent;
}

.btns:first-child {
  background: red;
}

@media screen and (max-width:768px){
  .container{
    /* width:100%; */
    /* padding:.4rem; */
  }
}